.col-50 {
  --col: 50%;
  width: var(--col);
}
.col-100 {
  --col: 100%;
  width: var(--col);
}

.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.hidden-elem {
  visibility: hidden;
  opacity: 0;
}
/* Bilder skalierbar */
.scale {
  width: 100%;
  height: auto;
}

.txt-center {
  text-align: center;
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

