.wraper {
  overflow: hidden;
}

.main-profile-info,
.aboutme,
.mywork,
.contact-me {
  animation: scrollnachoebn 150s linear infinite;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  height: 100vh;
  min-width: 360px;
  width: 100%;
  /* perspective: 1000px;
  perspective-origin: 50% 50%; */
}

@keyframes scrollnachoebn {
  100% {
    background-position: 0px -3000px;
  }
}

.header {
  height: 100vw;
  width: 6rem;
  position: fixed;
  top: 0;
  right: 0%;
  z-index: 1;
}

nav {
  position: relative;
  transform: translateX(120vw);
}

.navi-ul {
  width: 6rem;
  justify-content: space-around;
  height: 90vh;
}


#open,
#close {
  display: inline-block;
  width: 6rem;
}

.hamburger {
  width: 3rem;
  height: 2.1rem;
  position: relative;
  margin: 1.2rem auto;
  margin-bottom: 3rem;
}

.hamburger span {
  background-color: var(--color2);
  height: 0.3rem;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}

.hamburger span:first-child {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 0.9rem;
}

.hamburger span:last-child {
  top: 1.8rem;
}

.hamburger:hover span:nth-child(2),
#close .hamburger span:nth-child(2) {
  opacity: 0;
}

.hamburger:hover span:first-child,
.hamburger:hover span:last-child {
  top: 0.9rem;
}

#close .hamburger span:first-child {
  top: 0.9rem;
  transform: rotate(45deg);
}

#close .hamburger span:last-child {
  top: 0.9rem;
  transform: rotate(-45deg);
}

/* ##################################### */
.flex-cont {
  display: flex;
  height: calc(100% - 5rem)
}

.flex-cont>div {
  width: 33.33333%;
  text-align: center;
}

#_i {
  height: 50%;
  width: 100%;
  position: relative;
}

#_i p {
  opacity: 0;
  animation: kommvonlinks 8s ease-out 1;
}

@keyframes kommvonlinks {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }

  40%,
  50%,
  60%,
  70% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-50vw);
    opacity: 0;
  }

}

#with {
  height: 50%;
  width: 100%;
  position: relative;
}

#with p {
  opacity: 0;
  animation: kommvonlinks 8s ease 1;
}

#play {
  height: 50%;
  width: 100%;
  position: relative;
}

#play p {
  opacity: 0;
  animation: kommvonoben 8s ease, 1;
}

@keyframes kommvonoben {
  0% {
    transform: translatey(-50vw);
    opacity: 0;
  }

  40%,
  50%,
  60%,
  70% {
    transform: translatey(0);
    opacity: 1;
  }

  100% {
    transform: translatey(-50vw);
    opacity: 0;
  }

}

#creativity {
  height: 50%;
  width: 100%;
  position: relative;
}

#creativity p {
  animation: kommvonrecht 8s ease 1;
  opacity: 0;
}

@supports(-webkit-background-clip: text) or (background-clip: text) {
  #creativity p {
    color: transparent;
    background-image: linear-gradient(90deg, var(--color3), var(--color4));
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes kommvonrecht {
  0% {
    transform: translatex(50vw);
    opacity: 0;
  }

  40%,
  50%,
  60%,
  70% {
    transform: translatey(0);
    opacity: 1;
  }

  100% {
    transform: translatex(50vw);
    opacity: 0;
  }

}


.spalte2 {
  position: relative;
}

#profile {
  width: 100%;
  max-height: 30.1rem;
  margin: auto 0;
}



.h1 {
  text-transform: uppercase;
  height: 5rem;
  text-shadow: 0 0 0.1rem var(--color2), 0 0 0.1rem var(--color2);
  font-size: 2.9rem;
  margin-bottom: 3rem;
}

.h1 p {
  margin-bottom: 0.75rem;
}

.animation {
  height: 5rem;
  overflow: hidden;
  margin-left: 1rem;
}

.animation>div>div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  /* background: red; */
  animation: text-animation 8s infinite;
}

.second div {
  position: relative;
  left: -0.3vw;
}

@keyframes text-animation {

  0%,
  10%,
  40%,
  60%,
  90%,
  100% {
    margin-top: 0.3rem;
  }

  20%,
  30%,
  70%,
  80% {
    margin-top: -4.62rem;
  }
}

.first div {
  padding: 0.5rem;
}

.profile-img {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: inline-block;
  margin-top: 0.3rem;
  margin-bottom: 0.9rem;
}

.profile-img img {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-img img:last-of-type {
  transform: scale(0);
  opacity: 0;
  transition: all 0.25s;
}

.profile-img:hover img:last-of-type {
  transform: scale(1);
  opacity: 1;
}

.button {
  background: -webkit-linear-gradient(0deg, #c1bdba 0%, #eff4f3 100%);
  background: linear-gradient(0deg, #c1bdba 0%, #eff4f3 100%);
  height: 3.3rem;
  width: 12rem;
  color: var(--color1);
  text-align: center;
  line-height: 3.3rem;
  border-radius: 1.5rem;
  border: solid 0px transparent;
  font-family: "Capriola", sans-serif;
  margin: 0 auto;
}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  letter-spacing: -0.3rem;
}

.waviy:hover span {
  font-family: "Capriola", sans-serif;
  animation: waviy 1s ease-in 1;
  animation-iteration-count: 1;
  animation-delay: calc(0.05s * var(--i));
}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-0.5rem);
  }
}

.aboutme {
  /* text-align: justify;
  max-width: 85rem; */
}

.aboutme__P-1,
.contact__p-1,
.aboutme__p-2,
.aboutme__p-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.aboutme__p-2,
.aboutme__p-3 {
  display: none;
}

.cool-link,
#aboutme__info-link-icon {
  display: inline-block;
  line-height: 2rem;
  color: var(--color4);
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background: var(--color3);
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
}

.Projects {
  max-width: 90rem;
  max-height: 46rem;
  margin: 0 auto;
}

.my-work__header {
  margin-bottom: 1rem;
}

.project1,
.project2 {
  width: 50%;
  height: 45rem;
  margin: 1rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 25% / 25%;
}

.project1__figure,
.project2__figure {
  width: 100%;
  height: 45rem;
  position: relative;
}

.project2__imge,
.project1__imge {
  height: 100%;
  width: 100%;
  border-radius: 25% / 25%;
  filter: grayscale(50%) opacity(50%);
  transition: all 0.2s ease;
}

.project1__visit-link,
.project2__visit-link {
  background-color: var(--color3);
  color: var(--color1);
  text-align: center;
  display: block;
  height: 3rem;
  width: 15rem;
  margin: 2rem;
  line-height: 3rem;
  border: solid 1px transparent;
  border-radius: 1.5rem;
}

.project1__header,
.project2__header {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.project2__summary,
.project1__summary {
  color: var(--color4);
  text-shadow: 1px 1px 2px black;
  text-align: center;
  line-height: 1.9rem;
}

.project1:hover .project1__imge,
.project2:hover .project2__imge {
  filter: grayscale(10%) opacity(60%);
  scale: 1.009;
  transition: all 1s ease;
}

form {
  max-width: 62rem;
  margin-top: 5rem;
}

.feedback-input {
  font-weight: 500;
  color: var(--color2);
  font-size: 1.8rem;
  border-radius: 0.5rem;
  line-height: 2.2rem;
  background-color: transparent;
  border: 0.2rem solid var(--color2);
  transition: all 0.3s;
  padding: 1.3rem;
  margin-bottom: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.feedback-input:focus,
.feedback-input:focus-within {
  border: 0.2rem solid var(--color3);
}

.invalid {
  border: 0.2rem solid red;
}

[id="name"],
[id="email"] {
  width: calc(50% - 0.2rem);
}

::-webkit-scrollbar {
  width: 1rem;
  opacity: 0;
  /* background-color: transparent; */
}

/* Add styles for the scroll thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--color3);
  border-radius: 1rem;
}